h1{
    color:aquamarine
}
*{
    border:solid;
}
.header{
    background-color: rgb(0, 255, 157);
 
    display: flex; 
    justify-content: space-between;
      
}
.sub-header{
    background-color: aqua;

    display: flex; 
    justify-content: space-between;
    width: fit-content;
}
.pgbg{
    background-color: blueviolet;
    
}
